nav{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.card{
    width: 200px;
    /* height: 200px; */
    background-color: #666;
    padding: 1rem;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.card img{
    width: 100%;
}

.Safari-landing-page {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(182, 197, 230);
    background-color: rgb(17, 16, 16);
    padding: 0px 270px;
    text-align: center;
    font-size: 13px;
  }
  .Safari-landing-page h1 {
    text-align: center;
    color: #00ffff;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
