body{
    font-family: system-ui, sans-serif;
    color: black;
    margin: 0;

}

nav{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: grey;
    /* color: white; */
}

ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: black;
}


.card{
    width: 200px;
    /* height: 200px; */
    background-color: #666;
    padding: 1rem;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.card img{
    width: 100%;
}

a{
    text-decoration: none;
    
}

footer {
  background-color: #f0f0f0; 
  padding: 20px;
  text-align: center;
  margin-top: 20px; 
}

.contact-form {
  max-width: 500px;
  margin: 0 auto; 
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

.contact-form textarea {
  height: 100px;
}

.contact-form .btn {
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form .btn:hover{
    background-color: #367c39;
}

.contact-form br {
    display: none;
}

.banner2{
    justify-items: center;
    padding: 20px;
}
#space{
    display: flex;
    font-family:initial;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px ;
    background-color:white;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid white;
}


.Safari-landing-page {
    padding: 0px 270px;
    text-align: center;
    font-size: 13px;
  }
  .Safari-landing-page h1 {
    text-align: center;
}

